.grid {
  margin: 30px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
}
.grid > div:hover > img {
  box-shadow: 0 0 20px;
  transform: scale(1.5);
}
.grid img {
  object-fit: cover;
  height: 130px;
  transition: transform 0.2s;
}
